body {
    font-family : "Arial, sans-serif";
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.ingredients-list {
    list-style: "square inside";
}

ol {
    list-style: "circle";
}

header > img {
    width: "30px";
}

ul li a {

}

* {
    background-color: "blue";
}

